{% extends 'base.html'%}
{% import 'bootstrap/wtf.html' as wtf%}

{% block content %}

      <!--Flash message -->
      {% for message in get_flashed_messages() %}
        <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
        </div>
      {% endfor %}
      <!-- Login form -->
      <div class="row col-md-12 mt-5" style="height: 100vh;">
          <div class="card" style="min-height: 500px; margin-left: 300px; box-shadow: 0px 8px 60px -10px rgba(13, 28, 39, 0.6); background: #fff;
          max-width: 700px; position: relative;">
              <div class="card-heading text-center mt-5">
                  <div style="width: 600px; margin-left: 50px; padding-top: 50px;"> {{wtf.quick_form(login_form)}}</div>
      <p> Don't have an account? <a href="{{url_for('auth.register')}}">Sign up here</a></p>
     </div>
      </div>
    </div>
</div>

{% endblock%}