<div>
    MANZE LIFE NI HARD 
    WACHA TU NEXT TIME JO

</div>

               <!-- Logo
                    ============================================= -->
                    <div id="logo">
                        <a href="/home" class="standard-logo" data-dark-logo="/images/logo/laundrybox-dark.png"><img src="/images/logo/laundrybox.png" alt="Laundry Box Logo"></a>
                        <a href="/home" class="retina-logo" data-dark-logo="/images/logo/laundrybox-dark@2x.png"><img src="/images/logo/laundrybox@2x.png" alt="Laundry Box Logo"></a>
                    </div><!-- #logo end -->
                    <!-- Primary Navigation
                    ============================================= -->
                    <nav id="primary-menu" class="with-arrows clearfix not-dark">

                        <ul class="one-page-menu" data-easing="easeInOutExpo" data-speed="1250" data-offset="160">
                            <li><a href="#" data-href="#wrapper"><div>Home</div></a></li>
                            <li><a href="#" data-href="#section-stunning-graphics"><div>How It Works</div></a></li>
                            <li><a href="#" data-href="#section-faqs"><div>Questions</div></a></li>
                            <li class="d-none">
                                <a href="#" data-href="#section-nextgen"><div>Explore</div></a>
                                <ul>
                                    <li><a href="#" data-href="#section-nextgen"><div>Service Provided</div></a></li>
                                    <li><a href="#" data-href="#section-stunning-graphics"><div>How It Works</div></a></li>
                                    <li><a href="#" data-href="#section-giftcards"><div>Gift Cards</div></a></li>
                                </ul>
                            </li>
                            <li><a href="#" data-href="#section-pricing"><div>Pricing</div></a></li>

                        </ul>

                        <ul class="one-page-menu" data-easing="easeInOutExpo" data-speed="1250" data-offset="160">
                            <li><a href="#" data-href="#section-nextgen"><div>Services</div></a></li>
                            <li><a href="#" data-href="#section-giftcards"><div>Gift Cards</div></a></li>
                            <li><a href="#" data-href="#section-gallery"><div>Download App</div></a></li>
                                <li class="menu-item-emphasis"><a href="#modal-login" data-lightbox="inline"><div>Login</div></a></li>
                        </ul>

                    </nav><!-- #primary-menu end -->

                </div>

            </div>

        </header><!-- #header end -->
        <!-- Content
        ============================================= -->
        
    

<section id="slider" class="slider-element full-screen slider-parallax">
    <div class="slider-parallax-inner" style="background: url('/FrontEnd/app/app-landing/images/hero/hero.jpg') center center no-repeat; background-size: cover;">
        <div class="vertical-middle" style="z-index: 2;">
            <div class="container dark clearfix">
                <div class="row clearfix">
                    <div class="col-lg-6 col-md-8">
                        <div class="emphasis-title">
                            <h1 class="font-body">Laundry Pick Up.<br>And Delivery Service.</h1>
                        </div>
                        <a href="#" data-scrollto="#section-pricing" data-easing="easeInOutExpo" data-speed="1250" data-offset="160" class="button button-large button-white button-light capitalize" style="border-radius: 23px;">Sign Up Now</a>
                        <a href="https://www.youtube.com/watch?v=SI0cptxqIuQ" class="hero-action-link" data-lightbox="iframe"><i class="icon-play-sign"></i> Watch the Video</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="video-wrap" style="position: absolute; height: 100%; z-index: 1;">
            <div class="video-overlay" style="background: rgba(0,0,0,0.2);"></div>
        </div>
    </div>
</section>

<section id="content">

    <div class="content-wrap">

        
<!-- Modal -->
<div class="modal1 mfp-hide" id="modal-login">
    <div class="block divcenter" style="background-color: #FFF; max-width: 400px;">
        <div style="padding: 50px;">
            <h3 class="font-body">Login to your Account</h3>
            <form id="top-login" role="form" method="post" class="nobottompadding" action="/account/login?returnurl=https%3A%2F%2Fwww.laundry-box.com%2F">
                <div class="col_full">
                    <label class="font-body capitalize" for="login-form-modal-username">Email Address:</label>
                    <input type="text" class="form-control" data-val="true" data-val-email="The Email field is not a valid e-mail address." data-val-required="The Email field is required." id="Email" name="Email" value="" />
                    <span class="text-danger field-validation-valid" data-valmsg-for="Email" data-valmsg-replace="true"></span>
                </div>

                <div class="col_full">
                    <label class="font-body capitalize" for="login-form-modal-password">Password:</label>
                    <input type="password" class="form-control" data-val="true" data-val-required="The Password field is required." id="Password" name="Password" />
                    <span class="text-danger field-validation-valid" data-valmsg-for="Password" data-valmsg-replace="true"></span>
                </div>

                <div class="col_full nobottommargin">
                    <button type="submit" class="button button-rounded nomargin" id="login-form-modal-submit" name="login-form-modal-submit" value="login">Login</button>
                    <a class="fright" href="/account/forgotpassword">Forgot Password?</a>
                </div>
            <input name="__RequestVerificationToken" type="hidden" value="CfDJ8Hpm6L7os6hPoCo2z-MY8Y8qVj1dQiK4MRsDqgXtaeChJ265yKMp-KUENW9zeZ4aSOoELyBRSXwroXkKvhlmC2xAXyAGG189BkuUmHsqXxt-xGR-JsSQPy_ovmeTeR-8kHxrpde4sdVmGBsYwmHfjg0" /></form>
            <div class="line line-sm"></div>
                    <form method="post" class="form-horizontal" action="/account/externallogin">
                            <button type="submit" class="button button-rounded btn-block t400 center capitalize si-facebook si-colored noleftmargin norightmargin" name="provider" value="Facebook" title="Log in using your Facebook account">Facebook</button>
                            <button type="submit" class="button button-rounded btn-block t400 center capitalize si-twitter si-colored noleftmargin norightmargin" name="provider" value="Twitter" title="Log in using your Twitter account">Twitter</button>
                            <button type="submit" class="button button-rounded btn-block t400 center capitalize si-google si-colored noleftmargin norightmargin" name="provider" value="Google" title="Log in using your Google account">Google</button>
                        <p class="topmargin-sm notoppadding">
                            we do not post anything to your social media account and only use your name, email and phone number to get you started using our service quickly. Click our <a href="/legal/privacy">Privacy Policy</a> to learn more.
                        </p>
                    <input name="__RequestVerificationToken" type="hidden" value="CfDJ8Hpm6L7os6hPoCo2z-MY8Y8qVj1dQiK4MRsDqgXtaeChJ265yKMp-KUENW9zeZ4aSOoELyBRSXwroXkKvhlmC2xAXyAGG189BkuUmHsqXxt-xGR-JsSQPy_ovmeTeR-8kHxrpde4sdVmGBsYwmHfjg0" /></form>

        </div>
    </div>
</div>

        <div class="container clearfix">

            <div id="section-nextgen" class="page-section bottommargin-lg">
                
<div class="container clearfix">

    <div class="heading-block center">
        <h2>What We Do</h2>
        <span>As part of our committment to service quality and customer satisfaction, we offer the following laundry services.</span>
    </div>

    <div class="col_one_third">
        <div class="feature-box fbox-center fbox-outline fbox-effect nobottomborder">
            <div class="fbox-icon">
                <a href="#"><i class="icon-crop i-alt"></i></a>
            </div>
            <h3>Wash, Dry &amp; Fold<span class="subtitle">no hassle service and your items are delivered neatly folded and crisp</span></h3>

        </div>
    </div>

    <div class="col_one_third">
        <div class="feature-box fbox-center fbox-outline fbox-effect nobottomborder">
            <div class="fbox-icon">
                <a href="#"><i class="icon-tint i-alt"></i></a>
            </div>
            <h3>Dry Cleaning<span class="subtitle">Offered as part of regular laundry or stand-alone service</span></h3>
        </div>
    </div>

    <div class="col_one_third col_last">
        <div class="feature-box fbox-center fbox-outline fbox-effect nobottomborder">
