
{% extends 'base.html' %}
{% import 'macros.html' as macro%}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}

<!-- <head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Oregano pizza</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="app/static/css/styles.css"> -->
  <!-- <link rel="icon" href="favicon.ico" type="image/x-icon"> -->
  <!-- <link href="https://fonts.googleapis.com/css?family=Pacifico|Oswald" rel="stylesheet"> -->
<!-- </head> -->

 <div>
    <h1>emmanuel</h1>
 </div>



{% endblock %}